.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f28b00;
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
}

.custom-file-upload:hover {
    background-color: #f2b500;
}

#category-image, #product-images, .product-images, #manufacturer-image{
    display: none;
}

#image-preview {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #f28b00;
    padding: 5px;
    border-radius: 10px;
}

.btn-update-category, .btn-update-product, .btn-update-manufacturer {
color: purple !important;
}

.btn-delete-category, .btn-delete-product, .btn-delete-manufacturer {
    color: red !important;
}

.category-image, .manufacturer-image {
    display: none;
}

.image-preview {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 5px;
    border: 2px solid #f28b00;
}

.custom-message-top {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: unset !important;
}
