.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f28b00;
    color: #ffff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin: 8px 0;
}

.custom-file-upload:hover {
    background-color: #f2b500;
}

#category-image{
    display: none;
}

#image-preview {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid #f28b00;
    padding: 5px;
    border-radius: 10px;
}